In [5]:
import os
import pandas as pd

In [9]:
df = pd.read_csv("Tuition_87.csv")
df

,year,public,private,public_tuiton _nflation,all_tuition_inflation,public_x_inflation,privat_x_inflation
0,1987,1537.37,7116.11,0.121,0.124,1723.39,7998.51
1,1988,1646.19,7721.60,0.121,0.124,1845.38,8679.08
2,1989,1779.61,8396.33,0.121,0.124,1994.94,9437.47
3,1990,1888.13,9082.54,0.774,0.731,3349.54,15721.88
4,1991,2116.89,9759.44,0.774,0.731,3755.36,16893.59
5,1992,2349.11,10293.53,0.774,0.731,4167.32,17818.10
6,1993,2536.58,10952.22,0.774,0.731,4499.89,18958.29
7,1994,2680.72,11480.93,0.774,0.731,4755.60,19873.49
8,1995,2847.58,12243.16,0.774,0.731,5051.61,21192.91
9,1996,2987.22,12881.25,0.774,0.731,5299.33,22297.44
10,1997,3109.51,13344.25,0.774,0.731,5516.27,23098.90
11,1998,3228.72,13972.87,0.774,0.731,5727.75,24187.04
12,1999,3348.81,14616.05,0.774,0.731,5940.79,25300.38
13,2000,3500.52,15470.47,0.919,0.699,6717.50,26284.33
14,2001,3735.21,16210.89,0.919,0.699,7167.87,27542.30
15,2002,4046.17,16825.89,0.919,0.699,7764.60,28587.19
16,2003,4586.54,17763.20,0.919,0.699,8801.57,30179.68
17,2004,5026.55,18603.89,0.919,0.699,9645.95,31608.01
18,2005,5350.93,19291.66,0.919,0.699,10268.43,32776.53
19,2006,5666.22,20516.60,0.919,0.699,10873.48,34857.70
20,2007,5943.14,21426.67,0.919,0.699,11404.89,36403.91
21,2008,6311.84,22039.92,0.919,0.699,12112.42,37445.82
22,2009,6716.60,22269.29,0.919,0.699,12889.16,37835.52
23,2010,7131.85,22677.29,0.311,0.463,9349.86,33176.88
24,2011,7713.41,23463.67,0.311,0.463,10112.28,34327.35
25,2012,8070.19,24522.64,0.311,0.463,10580.02,35876.62
26,2013,8311.86,25706.76,0.311,0.463,10896.85,37608.99
27,2014,8543.35,26738.52,0.311,0.463,11200.33,39118.45
28,2015,8778.40,27941.60,0.311,0.463,11508.48,40878.56
29,2016,8804.40,29475.54,0.311,0.463,11542.57,43122.72
30,2017,9036.06,30722.61,0.311,0.463,11846.27,44947.18
31,2018,9211.80,31883.34,0.311,0.463,12076.67,46645.33
32,2019,9349.14,32763.97,0.311,0.463,12256.72,47933.69
33,2020,9374.52,32825.30,0.311,0.463,12290.00,48023.41

In [12]:
df2 = df.drop(columns=['public_tuiton _nflation', 'all_tuition_inflation', 'public_x_inflation', 'privat_x_inflation'])

In [14]:
df2.dtypes

year         int64
public     float64
private    float64
dtype: object

In [15]:
df2

    year   public   private
0   1987  1537.37   7116.11
1   1988  1646.19   7721.60
2   1989  1779.61   8396.33
3   1990  1888.13   9082.54
4   1991  2116.89   9759.44
5   1992  2349.11  10293.53
6   1993  2536.58  10952.22
7   1994  2680.72  11480.93
8   1995  2847.58  12243.16
9   1996  2987.22  12881.25
10  1997  3109.51  13344.25
11  1998  3228.72  13972.87
12  1999  3348.81  14616.05
13  2000  3500.52  15470.47
14  2001  3735.21  16210.89
15  2002  4046.17  16825.89
16  2003  4586.54  17763.20
17  2004  5026.55  18603.89
18  2005  5350.93  19291.66
19  2006  5666.22  20516.60
20  2007  5943.14  21426.67
21  2008  6311.84  22039.92
22  2009  6716.60  22269.29
23  2010  7131.85  22677.29
24  2011  7713.41  23463.67
25  2012  8070.19  24522.64
26  2013  8311.86  25706.76
27  2014  8543.35  26738.52
28  2015  8778.40  27941.60
29  2016  8804.40  29475.54
30  2017  9036.06  30722.61
31  2018  9211.80  31883.34
32  2019  9349.14  32763.97
33  2020  9374.52  32825.30

In [16]:
df2.to_csv('Tuition_87.csv', index=False)