In [2]:
# Import Splinter and BeautifulSoup
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
#Set up automated browser 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.80M/6.80M [00:00<00:00, 25.3MB/s]

In [4]:
# Visit the Mars NASA news site: https://redplanetscience.com
url = 'https://www.minneapolisfed.org/about-us/monetary-policy/inflation-calculator/consumer-price-index-1913-'
browser.visit(url)

In [5]:
# Create a Beautiful Soup object 
html = browser.html
html_soup = soup(html, 'html.parser')

In [6]:
# Extract all the text elements
extracted_titles = html_soup.find_all('div','i9-e-table__container i9-e-table__container--light')
# extracted_previews = html_soup.find_all('div','article_teaser_body')

In [7]:


out = []

for i in extracted_titles[0].find_all('tr'):
    j = i.find_all('td')
    out.append([k.get_text().strip() for k in j])

In [8]:
out = out[1:]

In [9]:
df=pd.DataFrame(out,columns=["Year","Annual Average CPI(-U)","rate_of_inflation"])
df

      Year Annual Average CPI(-U) rate_of_inflation
0     1913                    9.9
1     1914                   10.0              1.3%
2     1915                   10.1              0.9%
3     1916                   10.9              7.7%
4     1917                   12.8             17.8%
..     ...                    ...               ...
105   2018                  251.1              2.4%
106   2019                  255.7              1.8%
107   2020                  258.8              1.2%
108   2021                  271.0              4.7%
109  2022*                  294.4              8.6%

[110 rows x 3 columns]

In [10]:
df=df.replace("2022*","2022")
df["Year"]=df["Year"].astype(int)
df["Annual Average CPI(-U)"]=df["Annual Average CPI(-U)"].astype(float)

In [11]:
df.dtypes

Year                        int32
Annual Average CPI(-U)    float64
rate_of_inflation          object
dtype: object

In [12]:
df=df[df["Year"]>= 1987]
df

     Year  Annual Average CPI(-U) rate_of_inflation
74   1987                   113.6              3.7%
75   1988                   118.3              4.1%
76   1989                   124.0              4.8%
77   1990                   130.7              5.4%
78   1991                   136.2              4.2%
79   1992                   140.3              3.0%
80   1993                   144.5              3.0%
81   1994                   148.2              2.6%
82   1995                   152.4              2.8%
83   1996                   156.9              2.9%
84   1997                   160.5              2.3%
85   1998                   163.0              1.6%
86   1999                   166.6              2.2%
87   2000                   172.2              3.4%
88   2001                   177.1              2.8%
89   2002                   179.9              1.6%
90   2003                   184.0              2.3%
91   2004                   188.9              2.7%
92   2005                   195.3              3.4%
93   2006                   201.6              3.2%
94   2007                   207.3              2.9%
95   2008                   215.3              3.8%
96   2009                   214.5             -0.4%
97   2010                   218.1              1.6%
98   2011                   224.9              3.2%
99   2012                   229.6              2.1%
100  2013                   233.0              1.5%
101  2014                   236.7              1.6%
102  2015                   237.0              0.1%
103  2016                   240.0              1.3%
104  2017                   245.1              2.1%
105  2018                   251.1              2.4%
106  2019                   255.7              1.8%
107  2020                   258.8              1.2%
108  2021                   271.0              4.7%
109  2022                   294.4              8.6%

In [13]:
df["rate_of_inflation"] = df["rate_of_inflation"].str.replace("%", "").astype(float)

In [14]:
df.dtypes

Year                        int32
Annual Average CPI(-U)    float64
rate_of_inflation         float64
dtype: object

In [15]:
df.head()

    Year  Annual Average CPI(-U)  rate_of_inflation
74  1987                   113.6                3.7
75  1988                   118.3                4.1
76  1989                   124.0                4.8
77  1990                   130.7                5.4
78  1991                   136.2                4.2

In [17]:
df=round(df.groupby("Year").mean().astype(float),3)

In [20]:
df = df.rename(columns={'Year': 'Year', 'Annual Average CPI(-U)': 'yearly_increase', 'rate_of_inflation': 'yearly_inflation'})

In [22]:
df.sort_values("Year",ascending=False)

      yearly_increase  yearly_inflation
Year
2022            294.4               8.6
2021            271.0               4.7
2020            258.8               1.2
2019            255.7               1.8
2018            251.1               2.4
2017            245.1               2.1
2016            240.0               1.3
2015            237.0               0.1
2014            236.7               1.6
2013            233.0               1.5
2012            229.6               2.1
2011            224.9               3.2
2010            218.1               1.6
2009            214.5              -0.4
2008            215.3               3.8
2007            207.3               2.9
2006            201.6               3.2
2005            195.3               3.4
2004            188.9               2.7
2003            184.0               2.3
2002            179.9               1.6
2001            177.1               2.8
2000            172.2               3.4
1999            166.6               2.2
1998            163.0               1.6
1997            160.5               2.3
1996            156.9               2.9
1995            152.4               2.8
1994            148.2               2.6
1993            144.5               3.0
1992            140.3               3.0
1991            136.2               4.2
1990            130.7               5.4
1989            124.0               4.8
1988            118.3               4.1
1987            113.6               3.7

In [23]:
df.to_csv("Inflation_CPI_87.csv")