In [354]:
#Import dependencies
import pandas as pd
from datetime import datetime

In [355]:
#Load the data
df = pd.read_csv('../raw_data/Labor-Force_participation.csv')
df.head(10)

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.623,0.558,0.826,0.652,0.192,0.403,...,0.661,0.587,0.892,0.716,0.236,0.400,0.631,0.659,0.764,0.715
1,23-Jan,2023,1,Jan,0.623,0.556,0.825,0.652,0.192,0.402,...,0.661,0.586,0.892,0.716,0.236,0.400,0.631,0.660,0.764,0.715
2,22-Dec,2022,12,Dec,0.622,0.556,0.824,0.652,0.192,0.401,...,0.661,0.584,0.892,0.716,0.236,0.399,0.632,0.659,0.764,0.715
3,22-Nov,2022,11,Nov,0.622,0.556,0.824,0.651,0.192,0.401,...,0.661,0.584,0.892,0.715,0.237,0.398,0.632,0.660,0.763,0.715
4,22-Oct,2022,10,Oct,0.622,0.556,0.824,0.651,0.192,0.400,...,0.661,0.585,0.891,0.714,0.237,0.397,0.632,0.659,0.762,0.714
5,22-Sep,2022,9,Sep,0.622,0.557,0.823,0.650,0.192,0.400,...,0.660,0.585,0.891,0.714,0.236,0.397,0.633,0.659,0.761,0.713
6,22-Aug,2022,8,Aug,0.621,0.557,0.822,0.650,0.191,0.400,...,0.660,0.585,0.890,0.714,0.236,0.397,0.633,0.660,0.759,0.712
7,22-Jul,2022,7,Jul,0.621,0.556,0.821,0.650,0.191,0.400,...,0.660,0.586,0.890,0.714,0.236,0.397,0.633,0.661,0.760,0.712
8,22-Jun,2022,6,Jun,0.620,0.556,0.821,0.650,0.191,0.401,...,0.660,0.586,0.890,0.715,0.235,0.398,0.632,0.662,0.760,0.712
9,22-May,2022,5,May,0.620,0.556,0.820,0.650,0.190,0.400,...,0.661,0.587,0.890,0.716,0.235,0.397,0.632,0.664,0.760,0.712

In [356]:
#Check the data types
df.dtypes

Date                            object
Year                             int64
Month                           object
Month txt                       object
All                            float64
                                ...
White Men Less than HS         float64
White Men High school          float64
White Men Some college         float64
White Men Bachelor's degree    float64
White Men Advanced degree      float64
Length: 124, dtype: object

In [357]:
#Filter the year
df.loc[df["Year"]>1987]

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.623,0.558,0.826,0.652,0.192,0.403,...,0.661,0.587,0.892,0.716,0.236,0.400,0.631,0.659,0.764,0.715
1,23-Jan,2023,1,Jan,0.623,0.556,0.825,0.652,0.192,0.402,...,0.661,0.586,0.892,0.716,0.236,0.400,0.631,0.660,0.764,0.715
2,22-Dec,2022,12,Dec,0.622,0.556,0.824,0.652,0.192,0.401,...,0.661,0.584,0.892,0.716,0.236,0.399,0.632,0.659,0.764,0.715
3,22-Nov,2022,11,Nov,0.622,0.556,0.824,0.651,0.192,0.401,...,0.661,0.584,0.892,0.715,0.237,0.398,0.632,0.660,0.763,0.715
4,22-Oct,2022,10,Oct,0.622,0.556,0.824,0.651,0.192,0.400,...,0.661,0.585,0.891,0.714,0.237,0.397,0.632,0.659,0.762,0.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,May-88,1988,5,May,0.657,0.683,0.827,0.545,0.114,0.440,...,0.764,0.746,0.947,0.680,0.167,0.533,0.813,0.814,0.881,0.878
418,Apr-88,1988,4,Apr,0.657,0.685,0.826,0.546,0.113,0.440,...,0.764,0.747,0.947,0.681,0.167,0.533,0.814,0.815,0.880,0.878
419,Mar-88,1988,3,Mar,0.657,0.685,0.826,0.546,0.113,0.440,...,0.764,0.747,0.947,0.681,0.167,0.534,0.814,0.815,0.881,0.877
420,Feb-88,1988,2,Feb,0.657,0.685,0.826,0.545,0.112,0.439,...,0.764,0.748,0.947,0.681,0.167,0.534,0.815,0.815,0.881,0.876
421,Jan-88,1988,1,Jan,0.657,0.685,0.826,0.545,0.112,0.439,...,0.765,0.749,0.947,0.681,0.167,0.534,0.816,0.816,0.882,0.875

In [358]:
#Drop the NA
df_labor_force_participation=df.dropna()
df_labor_force_participation.head(10)

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.623,0.558,0.826,0.652,0.192,0.403,...,0.661,0.587,0.892,0.716,0.236,0.400,0.631,0.659,0.764,0.715
1,23-Jan,2023,1,Jan,0.623,0.556,0.825,0.652,0.192,0.402,...,0.661,0.586,0.892,0.716,0.236,0.400,0.631,0.660,0.764,0.715
2,22-Dec,2022,12,Dec,0.622,0.556,0.824,0.652,0.192,0.401,...,0.661,0.584,0.892,0.716,0.236,0.399,0.632,0.659,0.764,0.715
3,22-Nov,2022,11,Nov,0.622,0.556,0.824,0.651,0.192,0.401,...,0.661,0.584,0.892,0.715,0.237,0.398,0.632,0.660,0.763,0.715
4,22-Oct,2022,10,Oct,0.622,0.556,0.824,0.651,0.192,0.400,...,0.661,0.585,0.891,0.714,0.237,0.397,0.632,0.659,0.762,0.714
5,22-Sep,2022,9,Sep,0.622,0.557,0.823,0.650,0.192,0.400,...,0.660,0.585,0.891,0.714,0.236,0.397,0.633,0.659,0.761,0.713
6,22-Aug,2022,8,Aug,0.621,0.557,0.822,0.650,0.191,0.400,...,0.660,0.585,0.890,0.714,0.236,0.397,0.633,0.660,0.759,0.712
7,22-Jul,2022,7,Jul,0.621,0.556,0.821,0.650,0.191,0.400,...,0.660,0.586,0.890,0.714,0.236,0.397,0.633,0.661,0.760,0.712
8,22-Jun,2022,6,Jun,0.620,0.556,0.821,0.650,0.191,0.401,...,0.660,0.586,0.890,0.715,0.235,0.398,0.632,0.662,0.760,0.712
9,22-May,2022,5,May,0.620,0.556,0.820,0.650,0.190,0.400,...,0.661,0.587,0.890,0.716,0.235,0.397,0.632,0.664,0.760,0.712

In [359]:
#Select columns
df_labor_force_participation=df_labor_force_participation[["Year","All","Less than HS","High school","Some college","Bachelor's degree","Advanced degree","Women","Men"]]

In [360]:
df_labor_force_participation.head()

,Year,All,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
0,2023,0.623,0.403,0.582,0.627,0.730,0.735,0.569,0.680
1,2023,0.623,0.402,0.582,0.627,0.730,0.735,0.568,0.680
2,2022,0.622,0.401,0.582,0.627,0.730,0.735,0.568,0.680
3,2022,0.622,0.401,0.581,0.627,0.729,0.735,0.568,0.679
4,2022,0.622,0.400,0.581,0.627,0.729,0.735,0.568,0.679

In [361]:
df_labor_force_participation.tail(10)

,Year,All,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
521,1979,0.638,0.473,0.696,0.712,0.776,0.846,0.510,0.781
522,1979,0.638,0.473,0.695,0.712,0.775,0.845,0.509,0.781
523,1979,0.637,0.473,0.694,0.712,0.774,0.845,0.508,0.781
524,1979,0.637,0.474,0.694,0.712,0.774,0.845,0.508,0.781
525,1979,0.637,0.474,0.693,0.712,0.775,0.845,0.507,0.781
526,1979,0.636,0.475,0.693,0.712,0.775,0.845,0.507,0.781
527,1979,0.636,0.475,0.692,0.712,0.775,0.846,0.506,0.781
528,1979,0.635,0.475,0.692,0.711,0.775,0.846,0.505,0.781
529,1979,0.634,0.475,0.691,0.710,0.774,0.845,0.504,0.780
530,1978,0.634,0.474,0.690,0.708,0.774,0.845,0.502,0.780

In [362]:
#Change the names
df_labor_force_participation=df_labor_force_participation.rename(columns={"Year":"year","All":"all","Less than HS":"less_than_hs","High school":"hign_school","Some college":"some_college","Bachelor's degree":"bachelor_degree","Advanced degree":"advanced_degree","Women":"women","Men":"men"})

In [363]:
df_labor_force_participation

,year,all,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
0,2023,0.623,0.403,0.582,0.627,0.730,0.735,0.569,0.680
1,2023,0.623,0.402,0.582,0.627,0.730,0.735,0.568,0.680
2,2022,0.622,0.401,0.582,0.627,0.730,0.735,0.568,0.680
3,2022,0.622,0.401,0.581,0.627,0.729,0.735,0.568,0.679
4,2022,0.622,0.400,0.581,0.627,0.729,0.735,0.568,0.679
...,...,...,...,...,...,...,...,...,...
526,1979,0.636,0.475,0.693,0.712,0.775,0.845,0.507,0.781
527,1979,0.636,0.475,0.692,0.712,0.775,0.846,0.506,0.781
528,1979,0.635,0.475,0.692,0.711,0.775,0.846,0.505,0.781
529,1979,0.634,0.475,0.691,0.710,0.774,0.845,0.504,0.780
530,1978,0.634,0.474,0.690,0.708,0.774,0.845,0.502,0.780

In [364]:
#Group by years and get the average number 
df_labor_force_participation=round(df_labor_force_participation.groupby("year").mean().astype(float),3)

In [365]:
#Value sort by year
df_labor_force_participation.sort_values("year",ascending=False)

,all,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
year,,,,,,,,
2023,0.623,0.402,0.582,0.627,0.730,0.735,0.568,0.680
2022,0.620,0.399,0.578,0.629,0.727,0.733,0.565,0.679
2021,0.615,0.392,0.569,0.628,0.723,0.730,0.560,0.675
2020,0.625,0.395,0.585,0.639,0.731,0.740,0.569,0.685
2019,0.630,0.402,0.593,0.649,0.738,0.745,0.573,0.691
2018,0.628,0.402,0.590,0.652,0.740,0.745,0.570,0.691
2017,0.628,0.401,0.592,0.656,0.739,0.748,0.569,0.692
2016,0.627,0.400,0.588,0.659,0.743,0.748,0.567,0.691
2015,0.628,0.399,0.590,0.663,0.749,0.748,0.568,0.692
2014,0.630,0.395,0.596,0.666,0.755,0.754,0.571,0.694
2013,0.635,0.402,0.602,0.676,0.757,0.763,0.575,0.700
2012,0.639,0.408,0.608,0.682,0.760,0.769,0.579,0.703
2011,0.643,0.410,0.618,0.689,0.766,0.773,0.583,0.707
2010,0.650,0.417,0.628,0.697,0.772,0.775,0.589,0.715
2009,0.658,0.428,0.636,0.708,0.777,0.780,0.594,0.725
2008,0.660,0.436,0.640,0.711,0.778,0.786,0.594,0.731
2007,0.662,0.445,0.643,0.715,0.780,0.785,0.594,0.734
2006,0.661,0.444,0.645,0.717,0.779,0.785,0.593,0.734
2005,0.660,0.442,0.646,0.718,0.777,0.789,0.592,0.733
2004,0.661,0.443,0.648,0.720,0.778,0.789,0.593,0.734
2003,0.664,0.447,0.654,0.725,0.783,0.789,0.596,0.738
2002,0.667,0.452,0.658,0.729,0.787,0.795,0.597,0.743
2001,0.670,0.456,0.660,0.735,0.789,0.801,0.599,0.746
2000,0.671,0.453,0.664,0.737,0.794,0.809,0.600,0.748
1999,0.671,0.450,0.667,0.738,0.797,0.814,0.600,0.748
1998,0.672,0.449,0.671,0.741,0.801,0.817,0.599,0.750
1997,0.671,0.441,0.674,0.745,0.801,0.823,0.597,0.751
1996,0.667,0.433,0.672,0.742,0.801,0.825,0.592,0.750
1995,0.668,0.431,0.672,0.746,0.808,0.827,0.590,0.752
1994,0.665,0.427,0.672,0.746,0.808,0.829,0.585,0.752
1993,0.664,0.429,0.677,0.745,0.806,0.833,0.579,0.756
1992,0.663,0.434,0.684,0.742,0.805,0.834,0.577,0.758
1991,0.663,0.439,0.689,0.739,0.809,0.833,0.574,0.761
1990,0.666,0.444,0.694,0.742,0.810,0.837,0.576,0.764
1989,0.663,0.445,0.690,0.742,0.808,0.841,0.571,0.764
1988,0.658,0.441,0.689,0.739,0.807,0.841,0.563,0.762
1987,0.655,0.438,0.692,0.738,0.803,0.842,0.557,0.763
1986,0.651,0.436,0.690,0.733,0.803,0.842,0.550,0.763
1985,0.647,0.438,0.689,0.728,0.799,0.844,0.542,0.764
1984,0.644,0.440,0.688,0.725,0.796,0.845,0.535,0.765
1983,0.642,0.443,0.691,0.721,0.793,0.845,0.530,0.766
1982,0.640,0.450,0.694,0.718,0.790,0.846,0.525,0.769
1981,0.640,0.458,0.697,0.717,0.788,0.845,0.520,0.773
1980,0.639,0.466,0.697,0.714,0.783,0.845,0.516,0.777
1979,0.637,0.474,0.694,0.711,0.775,0.845,0.508,0.781
1978,0.634,0.474,0.690,0.708,0.774,0.845,0.502,0.780

In [366]:
#Output clean data
df_labor_force_participation.to_csv('../clean_data/Labor-Force_Participation.csv',index=True)