In [66]:
import pandas as pd

In [67]:
#Load the data
df = pd.read_csv('../raw_data/underemployment.csv')
df.head(10)

,Date,Year,All,16-24,25-54,55-64,65+,Less than HS,High school,Some college,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,0.07,0.14,0.06,0.05,0.06,0.14,0.09,0.07,...,0.06,0.13,0.05,0.04,0.06,0.12,0.07,0.06,0.04,0.03
1,23-Jan,2023,0.07,0.14,0.06,0.05,0.06,0.14,0.09,0.07,...,0.06,0.13,0.05,0.04,0.06,0.12,0.08,0.06,0.04,0.03
2,22-Dec,2022,0.07,0.14,0.06,0.05,0.07,0.14,0.09,0.07,...,0.06,0.13,0.05,0.04,0.06,0.13,0.08,0.06,0.04,0.03
3,22-Nov,2022,0.07,0.14,0.06,0.05,0.06,0.14,0.10,0.07,...,0.06,0.13,0.05,0.04,0.06,0.13,0.08,0.06,0.04,0.03
4,22-Oct,2022,0.07,0.14,0.06,0.05,0.06,0.14,0.10,0.07,...,0.06,0.13,0.05,0.04,0.06,0.13,0.08,0.06,0.04,0.03
5,22-Sep,2022,0.07,0.14,0.06,0.06,0.07,0.15,0.10,0.07,...,0.06,0.13,0.05,0.05,0.06,0.13,0.08,0.06,0.04,0.03
6,22-Aug,2022,0.07,0.14,0.07,0.06,0.07,0.15,0.10,0.07,...,0.06,0.13,0.05,0.05,0.06,0.13,0.08,0.06,0.04,0.03
7,22-Jul,2022,0.08,0.15,0.07,0.06,0.07,0.15,0.10,0.07,...,0.06,0.13,0.05,0.05,0.06,0.13,0.08,0.06,0.04,0.03
8,22-Jun,2022,0.08,0.15,0.07,0.06,0.07,0.15,0.10,0.08,...,0.06,0.13,0.05,0.05,0.06,0.13,0.08,0.06,0.04,0.03
9,22-May,2022,0.08,0.15,0.07,0.06,0.07,0.15,0.11,0.08,...,0.06,0.13,0.06,0.05,0.06,0.13,0.08,0.07,0.05,0.03

In [68]:
df.dtypes

Date                            object
Year                             int64
All                            float64
16-24                          float64
25-54                          float64
                                ...
White Men Less than HS         float64
White Men High school          float64
White Men Some college         float64
White Men Bachelor's degree    float64
White Men Advanced degree      float64
Length: 122, dtype: object

In [83]:
#Filter the year
df=df.loc[(df["Year"]>1987)&(df["Year"]<2021)]

In [84]:
#Drop the NA
df_underemployment=df.dropna()
df_underemployment.head(10)

,Date,Year,All,16-24,25-54,55-64,65+,Less than HS,High school,Some college,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
26,20-Dec,2020,0.14,0.24,0.12,0.12,0.13,0.23,0.17,0.15,...,0.11,0.20,0.10,0.09,0.11,0.20,0.13,0.12,0.08,0.07
27,20-Nov,2020,0.13,0.24,0.12,0.11,0.13,0.23,0.17,0.14,...,0.11,0.20,0.09,0.09,0.11,0.19,0.13,0.11,0.08,0.06
28,20-Oct,2020,0.13,0.23,0.12,0.11,0.12,0.22,0.16,0.14,...,0.10,0.20,0.09,0.09,0.11,0.19,0.13,0.11,0.08,0.06
29,20-Sep,2020,0.13,0.23,0.11,0.10,0.12,0.22,0.16,0.13,...,0.10,0.19,0.09,0.08,0.10,0.19,0.12,0.10,0.07,0.06
30,20-Aug,2020,0.12,0.22,0.11,0.10,0.11,0.21,0.15,0.13,...,0.10,0.19,0.08,0.08,0.10,0.18,0.12,0.10,0.07,0.06
31,20-Jul,2020,0.11,0.21,0.10,0.09,0.11,0.20,0.14,0.12,...,0.09,0.19,0.08,0.08,0.09,0.17,0.11,0.10,0.07,0.06
32,20-Jun,2020,0.11,0.20,0.09,0.09,0.10,0.19,0.14,0.11,...,0.09,0.18,0.07,0.07,0.09,0.17,0.11,0.09,0.06,0.05
33,20-May,2020,0.10,0.19,0.08,0.08,0.09,0.17,0.13,0.10,...,0.08,0.17,0.07,0.06,0.08,0.16,0.10,0.08,0.06,0.05
34,20-Apr,2020,0.09,0.17,0.07,0.07,0.08,0.16,0.11,0.08,...,0.07,0.16,0.06,0.06,0.07,0.14,0.09,0.07,0.05,0.04
35,20-Mar,2020,0.07,0.15,0.06,0.06,0.06,0.14,0.10,0.07,...,0.06,0.14,0.05,0.05,0.05,0.13,0.08,0.06,0.04,0.03

In [85]:
#Select columns
df_underemployment=df_underemployment[["Year","All","Women Bachelor's degree","Men Bachelor's degree","Less than HS","High school","Some college","Bachelor's degree","Advanced degree","Women","Men"]]

In [86]:
df_underemployment.head()

,Year,All,Women Bachelor's degree,Men Bachelor's degree,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
26,2020,0.14,0.11,0.09,0.23,0.17,0.15,0.10,0.07,0.14,0.13
27,2020,0.13,0.11,0.09,0.23,0.17,0.14,0.10,0.07,0.14,0.13
28,2020,0.13,0.10,0.09,0.22,0.16,0.14,0.09,0.07,0.13,0.13
29,2020,0.13,0.10,0.08,0.22,0.16,0.13,0.09,0.07,0.13,0.12
30,2020,0.12,0.09,0.08,0.21,0.15,0.13,0.09,0.06,0.12,0.12

In [87]:
df_undermemployment.tail()

,Year,All,Women Bachelor's degree,Men Bachelor's degree,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
394,1990,0.09,0.05,0.04,0.19,0.1,0.07,0.04,0.03,0.1,0.09
395,1990,0.09,0.05,0.04,0.19,0.1,0.07,0.04,0.03,0.1,0.09
396,1990,0.09,0.05,0.04,0.18,0.1,0.07,0.05,0.03,0.1,0.09
397,1990,0.09,0.05,0.04,0.18,0.1,0.07,0.05,0.03,0.1,0.09
398,1989,0.09,0.05,0.04,0.18,0.1,0.07,0.05,0.03,0.1,0.09

In [88]:
#Change the names
df_underemployment=df_underemployment.rename(columns={"Year":"year","All":"all","Women Bachelor's degree":"women_b_degree","Men Bachelor's degree":"men_b_degree","Less than HS":"less_than_hs","High school":"hign_school","Some college":"some_college","Bachelor's degree":"bachelor_degree","Advanced degree":"advanced_degree","Women":"women","Men":"men"})

In [89]:
df_underemployment

,year,all,women_b_degree,men_b_degree,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
26,2020,0.14,0.11,0.09,0.23,0.17,0.15,0.10,0.07,0.14,0.13
27,2020,0.13,0.11,0.09,0.23,0.17,0.14,0.10,0.07,0.14,0.13
28,2020,0.13,0.10,0.09,0.22,0.16,0.14,0.09,0.07,0.13,0.13
29,2020,0.13,0.10,0.08,0.22,0.16,0.13,0.09,0.07,0.13,0.12
30,2020,0.12,0.09,0.08,0.21,0.15,0.13,0.09,0.06,0.12,0.12
...,...,...,...,...,...,...,...,...,...,...,...
394,1990,0.09,0.05,0.04,0.19,0.10,0.07,0.04,0.03,0.10,0.09
395,1990,0.09,0.05,0.04,0.19,0.10,0.07,0.04,0.03,0.10,0.09
396,1990,0.09,0.05,0.04,0.18,0.10,0.07,0.05,0.03,0.10,0.09
397,1990,0.09,0.05,0.04,0.18,0.10,0.07,0.05,0.03,0.10,0.09
398,1989,0.09,0.05,0.04,0.18,0.10,0.07,0.05,0.03,0.10,0.09

In [90]:
#Group by years and get the average number 
df_underemployment=round(df_underemployment.groupby("year").mean().astype(float),3)

In [91]:
#Value sort by year
df_underemployment.sort_values("year",ascending=False)

,all,women_b_degree,men_b_degree,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
year,,,,,,,,,,
2020,0.106,0.080,0.069,0.188,0.136,0.109,0.075,0.055,0.108,0.102
2019,0.077,0.050,0.050,0.150,0.100,0.073,0.050,0.040,0.078,0.073
2018,0.081,0.052,0.050,0.159,0.107,0.080,0.050,0.040,0.083,0.080
2017,0.093,0.060,0.051,0.185,0.122,0.088,0.057,0.040,0.094,0.091
2016,0.101,0.063,0.053,0.197,0.133,0.098,0.060,0.040,0.103,0.100
2015,0.114,0.074,0.063,0.225,0.146,0.112,0.068,0.049,0.116,0.112
2014,0.132,0.084,0.073,0.256,0.164,0.129,0.078,0.054,0.134,0.128
2013,0.146,0.090,0.080,0.291,0.180,0.140,0.087,0.060,0.148,0.143
2012,0.156,0.098,0.086,0.306,0.192,0.150,0.090,0.060,0.157,0.155
2011,0.168,0.100,0.092,0.328,0.208,0.160,0.098,0.060,0.160,0.171
2010,0.170,0.100,0.100,0.334,0.210,0.160,0.100,0.063,0.159,0.180
2009,0.140,0.079,0.078,0.289,0.173,0.128,0.078,0.054,0.131,0.149
2008,0.094,0.052,0.045,0.202,0.114,0.082,0.051,0.034,0.092,0.096
2007,0.080,0.050,0.040,0.178,0.100,0.070,0.042,0.030,0.081,0.080
2006,0.088,0.050,0.042,0.182,0.100,0.078,0.049,0.032,0.090,0.083
2005,0.093,0.052,0.050,0.198,0.108,0.080,0.050,0.040,0.094,0.092
2004,0.100,0.060,0.058,0.206,0.113,0.089,0.059,0.040,0.100,0.100
2003,0.100,0.057,0.058,0.204,0.112,0.088,0.058,0.040,0.100,0.100
2002,0.093,0.050,0.050,0.193,0.106,0.077,0.050,0.038,0.095,0.093
2001,0.073,0.041,0.034,0.168,0.083,0.061,0.038,0.030,0.079,0.073
2000,0.070,0.040,0.032,0.162,0.080,0.060,0.038,0.030,0.079,0.070
1999,0.080,0.040,0.032,0.175,0.088,0.060,0.040,0.030,0.082,0.073
1998,0.085,0.042,0.038,0.188,0.094,0.070,0.040,0.030,0.091,0.080
1997,0.095,0.050,0.041,0.207,0.103,0.076,0.046,0.039,0.100,0.090
1996,0.100,0.058,0.050,0.218,0.110,0.080,0.050,0.040,0.107,0.098
1995,0.103,0.060,0.050,0.222,0.112,0.084,0.052,0.040,0.110,0.100
1994,0.116,0.061,0.053,0.238,0.127,0.096,0.060,0.040,0.121,0.113
1993,0.127,0.070,0.060,0.245,0.139,0.105,0.067,0.040,0.130,0.122
1992,0.126,0.069,0.060,0.239,0.137,0.104,0.062,0.042,0.127,0.125
1991,0.111,0.058,0.052,0.216,0.119,0.088,0.055,0.038,0.114,0.109
1990,0.094,0.050,0.040,0.188,0.102,0.074,0.048,0.030,0.100,0.090
1989,0.090,0.050,0.040,0.180,0.100,0.070,0.050,0.030,0.100,0.090

In [92]:
#Output clean data
df_underemployment.to_csv('../clean_data/underemployment_clean.csv',index=True)