In [23]:
import pandas as pd

In [24]:
#Load the data
df = pd.read_csv('../raw_data/unemployment.csv')
df.head(10)

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.04,0.08,0.03,0.02,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
1,23-Jan,2023,1,Jan,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
2,22-Dec,2022,12,Dec,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
3,22-Nov,2022,11,Nov,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.08,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
4,22-Oct,2022,10,Oct,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
5,22-Sep,2022,9,Sep,0.04,0.08,0.03,0.03,0.03,0.08,...,0.03,0.08,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
6,22-Aug,2022,8,Aug,0.04,0.08,0.03,0.03,0.03,0.08,...,0.03,0.08,0.03,0.03,0.03,0.07,0.04,0.03,0.02,0.02
7,22-Jul,2022,7,Jul,0.04,0.08,0.04,0.03,0.03,0.08,...,0.03,0.08,0.03,0.03,0.03,0.07,0.04,0.03,0.02,0.02
8,22-Jun,2022,6,Jun,0.04,0.09,0.04,0.03,0.03,0.08,...,0.04,0.08,0.03,0.03,0.03,0.07,0.05,0.04,0.03,0.02
9,22-May,2022,5,May,0.04,0.09,0.04,0.03,0.04,0.08,...,0.04,0.08,0.03,0.03,0.03,0.08,0.05,0.04,0.03,0.02

In [25]:
#Check the data types
df.dtypes

Date                            object
Year                             int64
Month                            int64
Month txt                       object
All                            float64
                                ...
White Men Less than HS         float64
White Men High school          float64
White Men Some college         float64
White Men Bachelor's degree    float64
White Men Advanced degree      float64
Length: 124, dtype: object

In [26]:
#Filter the year
df.loc[df["Year"]>1987]

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.04,0.08,0.03,0.02,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
1,23-Jan,2023,1,Jan,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
2,22-Dec,2022,12,Dec,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
3,22-Nov,2022,11,Nov,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.08,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
4,22-Oct,2022,10,Oct,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,May-88,1988,5,May,0.06,0.12,0.05,0.03,0.03,0.12,...,0.05,0.10,0.04,0.03,0.02,0.10,0.05,0.04,0.02,0.01
418,Apr-88,1988,4,Apr,0.06,0.12,0.05,0.03,0.02,0.12,...,0.05,0.10,0.04,0.03,0.02,0.10,0.05,0.04,0.02,0.01
419,Mar-88,1988,3,Mar,0.06,0.12,0.05,0.04,0.02,0.12,...,0.05,0.10,0.04,0.03,0.02,0.10,0.05,0.04,0.02,0.01
420,Feb-88,1988,2,Feb,0.06,0.12,0.05,0.04,0.03,0.12,...,0.05,0.10,0.04,0.03,0.02,0.10,0.05,0.04,0.02,0.01
421,Jan-88,1988,1,Jan,0.06,0.12,0.05,0.04,0.03,0.12,...,0.05,0.11,0.04,0.03,0.02,0.10,0.05,0.04,0.03,0.02

In [27]:
#Drop the NA
df_umemployment=df.dropna()
df_umemployment.head(10)

,Date,Year,Month,Month txt,All,16-24,25-54,55-64,65+,Less than HS,...,White Men,White Men 16-24,White Men 25-54,White Men 55-64,White Men 65+,White Men Less than HS,White Men High school,White Men Some college,White Men Bachelor's degree,White Men Advanced degree
0,23-Feb,2023,2,Feb,0.04,0.08,0.03,0.02,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
1,23-Jan,2023,1,Jan,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
2,22-Dec,2022,12,Dec,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
3,22-Nov,2022,11,Nov,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.08,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
4,22-Oct,2022,10,Oct,0.04,0.08,0.03,0.03,0.03,0.07,...,0.03,0.07,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
5,22-Sep,2022,9,Sep,0.04,0.08,0.03,0.03,0.03,0.08,...,0.03,0.08,0.03,0.02,0.03,0.07,0.04,0.03,0.02,0.02
6,22-Aug,2022,8,Aug,0.04,0.08,0.03,0.03,0.03,0.08,...,0.03,0.08,0.03,0.03,0.03,0.07,0.04,0.03,0.02,0.02
7,22-Jul,2022,7,Jul,0.04,0.08,0.04,0.03,0.03,0.08,...,0.03,0.08,0.03,0.03,0.03,0.07,0.04,0.03,0.02,0.02
8,22-Jun,2022,6,Jun,0.04,0.09,0.04,0.03,0.03,0.08,...,0.04,0.08,0.03,0.03,0.03,0.07,0.05,0.04,0.03,0.02
9,22-May,2022,5,May,0.04,0.09,0.04,0.03,0.04,0.08,...,0.04,0.08,0.03,0.03,0.03,0.08,0.05,0.04,0.03,0.02

In [28]:
#Select columns
df_umemployment=df_umemployment[["Year","All","Women Bachelor's degree","Men Bachelor's degree","Less than HS","High school","Some college","Bachelor's degree","Advanced degree","Women","Men"]]

In [29]:
df_umemployment.head()

,Year,All,Women Bachelor's degree,Men Bachelor's degree,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
0,2023,0.04,0.02,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
1,2023,0.04,0.02,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
2,2022,0.04,0.03,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
3,2022,0.04,0.03,0.02,0.07,0.05,0.04,0.03,0.02,0.04,0.04
4,2022,0.04,0.03,0.03,0.07,0.05,0.04,0.03,0.02,0.04,0.04

In [30]:
df_umemployment.tail()

,Year,All,Women Bachelor's degree,Men Bachelor's degree,Less than HS,High school,Some college,Bachelor's degree,Advanced degree,Women,Men
526,1979,0.06,0.04,0.02,0.1,0.05,0.05,0.03,0.02,0.07,0.05
527,1979,0.06,0.04,0.02,0.1,0.05,0.05,0.03,0.02,0.07,0.05
528,1979,0.06,0.04,0.02,0.1,0.05,0.05,0.03,0.02,0.07,0.05
529,1979,0.06,0.04,0.02,0.1,0.06,0.05,0.03,0.02,0.07,0.05
530,1978,0.06,0.04,0.02,0.1,0.06,0.05,0.03,0.02,0.07,0.05

In [31]:
#Change the names
df_umemployment=df_umemployment.rename(columns={"Year":"year","All":"all","Women Bachelor's degree":"women_b_degree","Men Bachelor's degree":"men_b_degree","Less than HS":"less_than_hs","High school":"hign_school","Some college":"some_college","Bachelor's degree":"bachelor_degree","Advanced degree":"advanced_degree","Women":"women","Men":"men"})

In [32]:
df_umemployment

,year,all,women_b_degree,men_b_degree,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
0,2023,0.04,0.02,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
1,2023,0.04,0.02,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
2,2022,0.04,0.03,0.02,0.07,0.05,0.04,0.02,0.02,0.04,0.04
3,2022,0.04,0.03,0.02,0.07,0.05,0.04,0.03,0.02,0.04,0.04
4,2022,0.04,0.03,0.03,0.07,0.05,0.04,0.03,0.02,0.04,0.04
...,...,...,...,...,...,...,...,...,...,...,...
526,1979,0.06,0.04,0.02,0.10,0.05,0.05,0.03,0.02,0.07,0.05
527,1979,0.06,0.04,0.02,0.10,0.05,0.05,0.03,0.02,0.07,0.05
528,1979,0.06,0.04,0.02,0.10,0.05,0.05,0.03,0.02,0.07,0.05
529,1979,0.06,0.04,0.02,0.10,0.06,0.05,0.03,0.02,0.07,0.05
530,1978,0.06,0.04,0.02,0.10,0.06,0.05,0.03,0.02,0.07,0.05

In [33]:
#Group by years and get the average number 
df_umemployment=round(df_umemployment.groupby("year").mean().astype(float),3)

In [34]:
#Value sort by year
df_umemployment.sort_values("year",ascending=False)

,all,women_b_degree,men_b_degree,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
year,,,,,,,,,,
2023,0.040,0.020,0.020,0.070,0.050,0.040,0.020,0.020,0.040,0.040
2022,0.043,0.032,0.029,0.080,0.057,0.043,0.030,0.020,0.042,0.043
2021,0.070,0.053,0.048,0.117,0.090,0.075,0.051,0.033,0.069,0.069
2020,0.061,0.044,0.038,0.109,0.077,0.061,0.042,0.030,0.062,0.059
2019,0.040,0.023,0.030,0.080,0.050,0.040,0.030,0.020,0.040,0.040
2018,0.040,0.028,0.028,0.085,0.052,0.040,0.028,0.020,0.040,0.040
2017,0.048,0.030,0.030,0.097,0.060,0.042,0.030,0.020,0.047,0.049
2016,0.050,0.030,0.030,0.103,0.066,0.050,0.030,0.020,0.050,0.050
2015,0.057,0.036,0.032,0.118,0.071,0.056,0.034,0.023,0.057,0.058
2014,0.068,0.040,0.040,0.137,0.084,0.067,0.040,0.030,0.065,0.069
2013,0.079,0.047,0.044,0.159,0.097,0.073,0.046,0.030,0.076,0.080
2012,0.085,0.050,0.050,0.173,0.104,0.082,0.050,0.030,0.080,0.088
2011,0.092,0.050,0.057,0.183,0.114,0.090,0.053,0.035,0.090,0.099
2010,0.099,0.055,0.060,0.190,0.120,0.090,0.060,0.040,0.088,0.110
2009,0.078,0.042,0.045,0.159,0.094,0.071,0.044,0.031,0.070,0.084
2008,0.052,0.030,0.025,0.114,0.062,0.044,0.029,0.020,0.050,0.053
2007,0.050,0.026,0.020,0.100,0.050,0.040,0.021,0.020,0.049,0.050
2006,0.050,0.030,0.028,0.103,0.058,0.040,0.030,0.020,0.050,0.050
2005,0.052,0.030,0.030,0.115,0.060,0.048,0.030,0.020,0.050,0.053
2004,0.060,0.030,0.036,0.120,0.064,0.050,0.034,0.027,0.057,0.060
2003,0.060,0.030,0.040,0.120,0.066,0.050,0.034,0.030,0.060,0.060
2002,0.056,0.030,0.033,0.114,0.059,0.047,0.030,0.023,0.055,0.057
2001,0.042,0.023,0.022,0.100,0.048,0.032,0.023,0.017,0.042,0.042
2000,0.040,0.020,0.020,0.097,0.040,0.030,0.020,0.015,0.040,0.040
1999,0.042,0.020,0.020,0.101,0.050,0.034,0.020,0.020,0.047,0.040
1998,0.050,0.020,0.020,0.111,0.050,0.040,0.020,0.020,0.050,0.049
1997,0.050,0.027,0.023,0.120,0.058,0.040,0.024,0.020,0.050,0.050
1996,0.060,0.030,0.030,0.129,0.060,0.044,0.030,0.020,0.060,0.059
1995,0.060,0.030,0.030,0.130,0.060,0.050,0.030,0.020,0.060,0.060
1994,0.066,0.030,0.030,0.140,0.069,0.055,0.030,0.021,0.063,0.067
1993,0.073,0.038,0.040,0.148,0.078,0.060,0.038,0.030,0.070,0.077
1992,0.073,0.034,0.040,0.146,0.077,0.060,0.040,0.028,0.070,0.078
1991,0.064,0.030,0.031,0.130,0.066,0.052,0.030,0.020,0.061,0.066
1990,0.052,0.030,0.028,0.110,0.058,0.042,0.030,0.020,0.052,0.053
1989,0.051,0.030,0.022,0.110,0.052,0.040,0.029,0.020,0.052,0.050
1988,0.060,0.030,0.024,0.118,0.060,0.049,0.027,0.020,0.060,0.060
1987,0.067,0.030,0.030,0.132,0.067,0.055,0.030,0.020,0.067,0.067
1986,0.070,0.030,0.030,0.140,0.070,0.060,0.030,0.020,0.070,0.070
1985,0.071,0.036,0.030,0.140,0.076,0.060,0.030,0.020,0.078,0.070
1984,0.084,0.040,0.033,0.152,0.087,0.067,0.036,0.025,0.084,0.084
1983,0.100,0.048,0.040,0.177,0.108,0.080,0.040,0.030,0.099,0.105
1982,0.088,0.041,0.032,0.152,0.089,0.070,0.036,0.023,0.088,0.088
1981,0.079,0.040,0.028,0.130,0.075,0.060,0.030,0.020,0.080,0.071
1980,0.065,0.040,0.020,0.112,0.063,0.054,0.030,0.020,0.073,0.061
1979,0.060,0.040,0.020,0.100,0.051,0.050,0.030,0.020,0.070,0.050
1978,0.060,0.040,0.020,0.100,0.060,0.050,0.030,0.020,0.070,0.050

In [35]:
#Output clean data
df_umemployment.to_csv('../clean_data/unemployment_clean.csv',index=True)